header{
    text-align: center;
}

h1 {
    font-size: 5rem;
    text-align: center;
}

h2 {
    font-size: 3rem;
    text-align: center;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1.5rem;
    font-weight: bold;
}

p, li {
    font-size: 1.3rem;
}

main {
    margin-left: 20px;
    margin-right: 20px;
}

main img {
    padding: 20px;
}

.main-img {
    position: relative;
    display: inline-block;
}

.main-img img {
    display: block;
    width: 100%;
    filter: brightness(30%)
}

.text-overlay {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%); 
    color: white;
}

.container {
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    max-width: 1440px;
}

.activity-column {
    padding: 30px;
}

.link-text {
    color: blue;
    text-decoration: none;
}

.link-text:hover {
    text-decoration: underline;
}